@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'georgiaitalic';
    src: url('../fonts/georgiai_1-webfont.eot');
    src: url('../fonts/georgiai_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/georgiai_1-webfont.woff') format('woff'),
        url('../fonts/georgiai_1-webfont.ttf') format('truetype'),
        url('../fonts/georgiai_1-webfont.svg#georgiaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/droidsans-webfont.woff') format('woff'),
        url('../fonts/droidsans-webfont.ttf') format('truetype'),
        url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ar_cenaregular';
    src: url('../fonts/interface_font-webfont.eot');
    src: url('../fonts/interface_font-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/interface_font-webfont.woff') format('woff'),
        url('../fonts/interface_font-webfont.ttf') format('truetype'),
        url('../fonts/interface_font-webfont.svg#ar_cenaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'always__foreverregular';
    src: url('../fonts/notification_font-webfont.eot');
    src: url('../fonts/notification_font-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notification_font-webfont.woff') format('woff'),
        url('../fonts/notification_font-webfont.ttf') format('truetype'),
        url('../fonts/notification_font-webfont.svg#always__foreverregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'buxton_sketchregular';
    src: url('../fonts/buxtonsketch_0-webfont.eot');
    src: url('../fonts/buxtonsketch_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/buxtonsketch_0-webfont.woff') format('woff'),
        url('../fonts/buxtonsketch_0-webfont.ttf') format('truetype'),
        url('../fonts/buxtonsketch_0-webfont.svg#buxton_sketchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe_uiregular';
    src: url('../fonts/segoeui_1-webfont.eot');
    src: url('../fonts/segoeui_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui_1-webfont.woff') format('woff'),
        url('../fonts/segoeui_1-webfont.ttf') format('truetype'),
        url('../fonts/segoeui_1-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:hidden;
    /*background:url("../images/book_full.png") no-repeat;*/
}

.clear
{
    clear:both;	
}

img
{
    width:100%;
    /*height:auto;*/
}


a img
{
    cursor:pointer;	
}

*:focus
{
    outline:none;	
}

.body_container
{
    width:100%;

}


/**************************My Corner*********************************/

.header_line
{
    position:relative;
    float:left;
    width:100%;	
}

.wall_bg
{
    position:relative;
    float:left;
    width:100%;	
    z-index:-1;
}

.base_divider_container
{
    position:relative;
    float:left;
    width:100%;	
}

.surface
{
    position:absolute;
    bottom:0;
    width:100%;	

}


.muse_logo
{
    position:absolute;
    top:0;
    left:2%;
    width:7%;
    z-index:1;	
}

.rack
{
    position:absolute;
    top:23%;
    left:-5.5%;	
    width:19%;
}

.shelf_book_container
{
    position:absolute;
    top:0;
    left:8%;
    width:80%;
    z-index:99;
}

.search_shelf_books_container
{
    position:relative;
    //float:left;
    width:100%;
    padding:0 0 1% 0;	
}

.search_textbox
{
    position:relative;
    float:left;
    width:30%;
    height:43px;
    margin:1% 0 0 23%;
    padding:0 0 0 1%;
    background:url("../images/my-20corner-20slices/searchbox big.png") no-repeat;
    background-size:100% 100%;
    border:none;
    font-family:'ar_cenaregular';
    font-size:22px;
    color:#737272;	
}

.search_dropdown
{
    position:relative;
    float:left;
    width:19%;
    height:43px;
    margin:1% 0 0 0;
    padding:0 0 0 1%;
    background:url("../images/my-20corner-20slices/searchbox small.png") no-repeat;
    background-size:100% 100%;
    border:none;
    font-family:'ar_cenaregular';
    font-size:22px;
    color:#737272;	
}

.search_dropdown option
{
    background: #d6d1cd;
}

.search_dropdown_arrow
{
    position:absolute;
    top:57%;
    right:29.3%;
    width:0.7%;	
}

.search_button
{
    position:relative;
    float:left;
    width:7.39%;
    height:46px;
    margin:1% 0 0 1%;
    background: url("../images/my-20corner-20slices/btn search.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;
}

.filter_button
{
    position:relative;
    float:left;
    width:3.5%;
    height:43px;
    margin:1% 0 0 0.5%;
    background: url("../images/my-20corner-20slices/btn search.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.search_small_button
{
    position:relative;
    float:left;
    width:3.5%;
    height:43px;
    margin:1% 0 0 0.2%;	
    background:url("../images/my-20corner-20slices/btn search small.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;
}


.sort_button
{
    position:relative;
    float:left;
    width:3.5%;
    height:43px;
    margin:1% 0 0 0.2%;
    background:url("../images/my-20corner-20slices/sort.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.shelf3_container
{
    position:relative;
    float:left;
    width:100%;
    margin:0 0 0 2%;
}

#shelf1 {display:none;}
#shelf2 {display:none;}
#shelf3 {display:none;}

.shelf3_img
{
    position:relative;
    float:left;
    width:100%;	
    margin:4% 0 0 0;
}

.shelf_books_container
{
    position:absolute;
    top:10%;
    left:10%;
    width:87%;	
}

.shelf3_block1_container
{
    position:relative;
    float:left;
    width:33.33%;	
    z-index:99;
}

.shelf3_block1_img
{
    position:relative;
    float:left;
    width:30%;
    margin:3% 4px 0 0;

}

.booklabel_container
{
    position:relative;
    float:left;
    width: 60%;
    margin: 6px 0 0 17%;
}

.book_label_img
{
    position:relative;
    float:left;
    width:100%;


}

.book_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book_category_label
{
    position:relative;
    float:left;
    width:72%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book_category_label a:link {text-decoration:none; color:#fff;}
.book_category_label a:visited {text-decoration:none; color:#fff;}
/*.book_category_label a:hover {text-decoration:none; color:#ffe972; border-bottom:2px solid #ffe972;}*/
.book_category_label a:hover {text-decoration:none; color:#ffe972;}

.book_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:1.5% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:1.5% 2% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

.shelf3_block2_container
{
    position:relative;
    float:left;
    width:33.33%;	
    z-index:99;
}


.shelf3_block3_container
{
    position:relative;
    float:left;
    width:33.33%;	
    z-index:99;
}

.shelf3_block4_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.shelf3_block5_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.shelf3_block6_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.shelf3_block7_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.shelf3_block8_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.shelf3_block9_container
{
    position:relative;
    float:left;
    width:33.33%;
    margin:1% 0 0 0;	
    z-index:99;
}

.color_pallet_container
{
    position:absolute;
    bottom:0.5%;
    left:1%;
    width:30%;
    padding:0 0 6% 0;
    z-index:999;
}

.color_pallet
{
    position:absolute;
    bottom:0;
    left:0;
    width:7%;
    cursor:pointer;
}

.color_options_container
{
    position:absolute;
    bottom:0.3%;
    left:7%;
    width:40%;
    display:none;
}

.color_options_img_container
{
    position:absolute;
    bottom:25%;
    left:5%;
    width:100%;

}

.color_option_img
{
    position:relative;
    float:left;
    width:13%;
    margin:0% 0 0 5%;
    cursor:pointer;
}


.arrow_color_container
{
    position:absolute;
    bottom:60%;
    left:10%;
    width:40%;
    display:none;	
    z-index:9;
}

.arrow_img
{
    position:relative;
    float:left;
    width:25%;
    margin:2% 0 0 0;	
}

.arrow_color_text
{
    position:relative;
    float:left;
    width:65%;	
    margin:2% 0 0 2%;
    font-family:'always__foreverregular';
    font-size:26px;
    color:#FFF;
}

.store_menu_container
{
    position:absolute;	
    bottom:12%;
    left:44%;
    width:30%;
    font-family:'always__foreverregular';
    font-size:22px;
    font-weight:bolder;
    color:#fff;
}

.store_menu_title
{
    position:relative;
    float:left;
    padding:0 1% 0 1%;
}

.store_menu_title a:link {text-decoration:none; color:#fff;}
.store_menu_title a:visited {text-decoration:none; color:#fff;}
.store_menu_title a:hover {text-decoration:none; color:#ffe972;}

.store_menu_nav
{
    position:relative;
    float:left;
    padding:0 1% 0 1%;
}

.bottom_handle_container
{
    position:absolute;
    bottom:0;
    left:41.7%;
    width:30%;
    /*z-index:999;	*/
}

.left_handle_img
{
    position:relative;
    float:left;
    width:28%;
    cursor:pointer;

}

.right_handle_img
{
    position:relative;
    float:left;
    width:28%;
    cursor:pointer;
}

.dock1_container
{
    position:absolute;
    bottom:-20%;
    left:19.8%;
    width:60%;


}

.dock1_img
{
    position:absolute;
    bottom:0;
    width:100%;
}

.dock1_img_container
{
    position:relative;
    float:left;
    width:60%;
    margin:0 0 0 22%;

}

.game_img
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 4% 0 0;
    cursor:pointer;
}


.next_prev_btn_container
{
    position:absolute;
    top:40%;
    right:0;
    width:5%;	
}

.prev_btn
{
    position:relative;
    float:left;
    width:50%;
    cursor:pointer;	
}

.next_btn
{
    position:relative;
    float:left;
    width:50%;	
    cursor:pointer;
}



.bubble
{
    position:absolute;
    top:-30%;
    left:-70%;
    width:1%;	
    display:none;
    z-index:999;
}

.bubble_text
{
    position:absolute;
    top:10%;
    left:0%;
    padding:0 0 5% 0;
    width:100%;
    font-family:'ar_cenaregular';
    font-size:0;
    color:#fff;
    text-align:center;

}

.search_textbox::-webkit-input-placeholder {
    color: #737272;
}

.search_textbox:-moz-placeholder {
    color: #737272;  
}

.search_textbox::-moz-placeholder { 
    color: #737272;  
}

.search_textbox:-ms-input-placeholder {  
    color: #737272;  
}

/***************My Corner End***********************************/

/***************ishelf************************/

.search_textbox_ishelf::-webkit-input-placeholder {
    color: #737272;
}

.search_textbox_ishelf:-moz-placeholder {
    color: #737272;  
}

.search_textbox_ishelf::-moz-placeholder { 
    color: #737272;  
}

.search_textbox_ishelf:-ms-input-placeholder {  
    color: #737272;  
}

.body_color
{
    background:#35b3c2;	
}

.search_textbox_ishelf
{
    /*color:#abeaf0;
    background:url("../images/ishelf/textbox.png") no-repeat;*/
    background:url("../images/my-20corner-20slices/searchbox big.png") no-repeat;

    background-size:100% 100%;
}




.search_dropdown_ishelf
{
    /*color:#abeaf0;
    background:url("../images/ishelf/dropdown.png") no-repeat;*/
    background:url("../images/my-20corner-20slices/searchbox small.png") no-repeat;
    background-size:100% 100%;
}


.search_dropdown_ishelf option
{
    background: #d6d1cd;
}

.search_button_ishelf
{
    background:url("../images/my-20corner-20slices/btn search.png") no-repeat;
    /*background:url("../images/ishelf/search.png") no-repeat;*/
    background-size:100% 100%;
}

.filter_button_ishelf
{
    background:url("../images/my-20corner-20slices/btn search.png") no-repeat;
    /*background:url("../images/ishelf/filter.png") no-repeat;*/
    background-size:100% 100%;
}






.search_small_button_ishelf
{
    background:url("../images/my-20corner-20slices/btn search small.png") no-repeat;
    /*background:url("../images/ishelf/search_small.png") no-repeat;*/
    background-size:100% 100%;
}

.sort_button_ishelf
{
    background:url("../images/my-20corner-20slices/sort.png") no-repeat;
    /*background:url("../images/ishelf/sort.png") no-repeat;*/
    background-size:100% 100%;
}

.middle_book_rack_container
{
    position:relative;
    float:left;
    width:92%;
    margin:0% 0 0 4%;	
}

.middle_book_rack_img
{
    width:100%;		
}

.middle_books_container
{
    position:absolute;
    top:8%;
    left:3%;
    width:92%;	

}

.mask
{
    height:100%;
    background:#000;
    opacity:0.5;	
}

#block1 {display:none;}
#block2 {display:none;}
#block3 {display:none;}
#block33 {display:none;}
#block4 {display:none;}
#block44 {display:none;}
#block5 {display:none;}
#block55 {display:none;}
#block6 {display:none;}
#block66 {display:none;}
#block7 {display:none;}


/*Left*/
.book_left_container
{
    position:relative;
    float:left;
    width:20%;

}

/*Book1 Col1*/
.book1_col1_container
{
    position:relative;
    float:left;
    width:100%;	
    padding:0 0 10% 0;
}

.book1_col1_img
{
    position:relative;
    float:left;
    width:51%;
    margin:24% 0 0 38%;
}

#bbook1_ishelf
{
    top:-5%;
    left:-50%;	
}

.book1_col1_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:52%;
    margin:0 0 2% 33%;	
}

.book1_col1_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book1_col1_category_container
{
    position:absolute;
    bottom:20%;
    width:100%;	

}

.book1_col1_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book1_col1_category_label a:link {text-decoration:none; color:#fff;}
.book1_col1_category_label a:visited {text-decoration:none; color:#fff;}

.book1_col1_category_label a:hover {text-decoration:none; color:#ffe972;}

.book1_col1_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col1_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col1_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book1_col1_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}



/*Book2 Col1*/
.book2_col1_container
{
    position:relative;
    float:left;
    width:100%;
    margin:0% 0 0 0;
}

.book2_col1_img
{
    position:relative;
    float:left;
    width:45%;
    margin:44% 0 0 0%;
}

.book3_col1_img
{
    position:relative;
    float:left;
    width:47%;
    margin:44% 0 2% 0%;
}

.book2_col1_label_container
{
    position:absolute;
    bottom:2%;

    width:52%;
    margin:0 0 2% 15%;	
}

.book2_col1_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book2_col1_category_container
{
    position:absolute;
    bottom:18%;
    width:100%;	

}

.book2_col1_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book2_col1_category_label a:link {text-decoration:none; color:#fff;}
.book2_col1_category_label a:visited {text-decoration:none; color:#fff;}

.book2_col1_category_label a:hover {text-decoration:none; color:#ffe972;}

.book2_col1_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book2_col1_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book2_col1_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book2_col1_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Middle*/
.book_middle_container
{
    position:relative;
    float:left;
    width:60%;	
}

/*Book1-2 Col2*/
.book1_col2_container
{
    position:relative;
    float:left;
    width:48%;	
    padding:0 0 3.3% 0;
}

.book1_col2_img
{
    position:relative;
    float:left;
    width:38%;
    margin:0.5% 0 0 16%;
}

#bbook4_ishelf
{
    top:-30%;
    left:-30%;	
}

.book2_col2_img
{
    position:relative;
    float:left;
    width:31%;
    margin:1.2% 0 0 3%;
}

.book1_col2_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:43%;
    margin:5% 0 0 34%;	
}

.book1_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book1_col2_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book1_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book1_col2_category_label a:link {text-decoration:none; color:#fff;}
.book1_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book1_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book1_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book1_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book3-4 Col2*/
.book3_col2_container
{
    position:relative;
    float:left;
    width:48%;	
    padding:0 0 2.5% 0;
}

.book3_col2_img
{
    position:relative;
    float:left;
    width:30%;
    margin:6% 0 0 25%;
}

.book4_col2_img
{
    position:relative;
    float:left;
    width:30%;
    margin:7% 0 0 1%;
}

.book3_col2_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:37%;
    margin:5% 0 0 35%;	
}

.book3_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book3_col2_category_container
{
    position:absolute;
    bottom:20%;
    width:100%;	

}

.book3_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book3_col2_category_label a:link {text-decoration:none; color:#fff;}
.book3_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book3_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book3_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book3_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book3_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book3_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book5-6 Col2*/
.book5_col2_container
{
    position:relative;
    float:right;
    width:50%;	
    padding:0 0 2.3% 0;
}


.book5_col2_img
{
    position:relative;
    float:right;
    width:32%;
    margin:6.9% -8% 0 0;
}

.book6_col2_img
{
    position:relative;
    float:right;
    width:30%;
    margin:3.3% -4% 0 0%;
}

.book5_col2_label_container
{
    position:absolute;
    bottom:0%;
    right:0%;	
    width:32%;
    margin:0% 11% 0% 0%;	
}

.book5_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book5_col2_category_container
{
    position:absolute;
    bottom:15%;
    width:100%;	

}

.book5_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book5_col2_category_label a:link {text-decoration:none; color:#fff;}
.book5_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book5_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book5_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book5_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book5_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book5_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book7 Col2*/
.book7_col2_container
{
    position:relative;
    float:right;
    width:48%;	
    padding:0 0 3.3% 0;
}


.book7_col2_img
{
    position:relative;
    float:right;
    width:30%;
    margin:4% 20% 0 0;
}

.book7_col2_label_container
{
    position:absolute;
    bottom:0%;
    right:0%;	
    width:35%;
    margin:0% 15% 1% 0%;	
}

.book7_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book7_col2_category_container
{
    position:absolute;
    bottom:17%;
    width:100%;	

}

.book7_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book7_col2_category_label a:link {text-decoration:none; color:#fff;}
.book7_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book7_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book7_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book7_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book7_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book7_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book8-9 Col2*/
.book8_col2_container
{
    position:relative;
    float:left;
    width:50%;	
    padding:0 0 3.3% 0;
}


.book8_col2_img
{
    position:relative;
    float:left;
    width:27%;
    margin:1% 0 0 32%;
}

.book9_col2_img
{
    position:relative;
    float:left;
    width:27%;
    margin:1% 0 0 3.5%;
}

.book8_col2_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:37%;
    margin:0% 0 1% 40%;	
}

.book8_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book8_col2_category_container
{
    position:absolute;
    bottom:18%;
    width:100%;	

}

.book8_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book8_col2_category_label a:link {text-decoration:none; color:#fff;}
.book8_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book8_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book8_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book8_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book8_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book8_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book10-11-12 Col2*/
.book10_col2_container
{
    position:relative;
    float:left;
    width:50%;	
    padding:0 0 4% 0;
}


.book10_col2_img
{
    position:relative;
    float:left;
    width:27%;
    margin:1% 0 0 0%;
}

.book11_col2_img
{
    position:relative;
    float:left;
    width:27%;
    margin:0.5% 0 0 1%;
}

.book12_col2_img
{
    position:relative;
    float:left;
    width:27%;
    margin:1% 0 0 1%;
}

.book10_col2_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:38%;
    margin:0% 0 3% 20.5%;	
}

.book10_col2_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book10_col2_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book10_col2_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book10_col2_category_label a:link {text-decoration:none; color:#fff;}
.book10_col2_category_label a:visited {text-decoration:none; color:#fff;}

.book10_col2_category_label a:hover {text-decoration:none; color:#ffe972;}

.book10_col2_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book10_col2_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book10_col2_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book10_col2_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Right*/
.book_right_container
{
    position:relative;
    float:left;
    width:20%;

}

/*Book1 Col3*/


.book1_col3_container
{
    position:relative;
    float:left;
    width:100%;	
    margin:0 0 0 20%;
    padding:0 0 10% 0;
}

.book1_col3_img
{
    position:relative;
    float:left;
    width:43%;
    margin:6.7% 0 0 7%;
}

.book2_col3_img
{
    position:relative;
    float:left;
    width:43%;
    margin:16.3% 0 0 0%;
}

.book1_col3_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:62%;
    margin:0 0 0% 12%;	
}

.book1_col3_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book1_col3_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book1_col3_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book1_col3_category_label a:link {text-decoration:none; color:#fff;}
.book1_col3_category_label a:visited {text-decoration:none; color:#fff;}

.book1_col3_category_label a:hover {text-decoration:none; color:#ffe972;}

.book1_col3_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col3_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book1_col3_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book1_col3_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book3-4*/
.book3_col3_container
{
    position:relative;
    float:left;
    width:100%;	
    padding:0 0 10% 0;
}

.book3_col3_img
{
    position:relative;
    float:left;
    width:37%;
    margin:20% 0 0 13%;
}

.book4_col3_img
{
    position:relative;
    float:left;
    width:50%;
    margin:7% 0 0 0%;
}

.book3_col3_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:55%;
    margin:0 0 1% 20%;	
}

.book3_col3_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book3_col3_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book3_col3_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book3_col3_category_label a:link {text-decoration:none; color:#fff;}
.book3_col3_category_label a:visited {text-decoration:none; color:#fff;}

.book3_col3_category_label a:hover {text-decoration:none; color:#ffe972;}

.book3_col3_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book3_col3_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book3_col3_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book3_col3_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}

/*Book5-6*/
.book5_col3_container
{
    position:relative;
    float:left;
    width:100%;	
    padding:0 0 10% 0;
}

.book5_col3_img
{
    position:relative;
    float:left;
    width:45%;
    margin:5% 0 0 0%;
}

.book6_col3_img
{
    position:relative;
    float:left;
    width:43%;
    margin:5% 0 0 6%;
}

.book5_col3_label_container
{
    position:absolute;
    bottom:0%;
    left:0%;	
    width:55%;
    margin:0 0 2% 20%;	
}

.book5_col3_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.book5_col3_category_container
{
    position:absolute;
    bottom:22%;
    width:100%;	

}

.book5_col3_category_label
{
    position:relative;
    float:left;
    width:70%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.book5_col3_category_label a:link {text-decoration:none; color:#fff;}
.book5_col3_category_label a:visited {text-decoration:none; color:#fff;}

.book5_col3_category_label a:hover {text-decoration:none; color:#ffe972;}

.book5_col3_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book5_col3_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.book5_col3_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.book5_col3_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}


.sofa_img
{
    position:absolute;
    top:75%;
    left:76%;
    width:25%;	
}



.prev_button_img
{
    position:absolute;
    top:43%;
    left:1%;
    width:2.5%;	
    cursor:pointer;
    z-index:99;
}

.next_button_img
{
    position:absolute;
    top:43%;
    right:1%;
    width:2.5%;	
    cursor:pointer;
    z-index:99;
}


/******************Store****************************/
.store_font_color
{
    color:#000;
    bottom:12.5%;
}

.store_menu_title_ishelf
{
    /*color:#4c4c4c;*/
    color:#000;

}

.store_menu_title_ishelf a:link {text-decoration:none; color:#000;}
.store_menu_title_ishelf a:visited {text-decoration:none; color:#000;}
.store_menu_title_ishelf a:hover {text-decoration:none; color:#ffde2c;}

.arrow_color_text_ishelf
{
    color:#000;	
}

.shadow_img
{
    position:absolute;
    top:0;
    right:0;
    width:10%;	
}

.leaf
{
    position:absolute;
    top:4.2%;
    left:74.15%;
    width:6%;	
    /*z-index:99;*/
}

.leaf1
{
    position:absolute;
    top:5.5%;
    left:76.15%;
    width:4%;	
    /*z-index:99;*/
}

.leaf2
{
    position:absolute;
    top:8%;
    left:75.65%;
    width:3%;	
    /*z-index:99;*/
}

.leaf3
{
    position:absolute;
    top:5.5%;
    left:73.65%;
    width:3%;	
    /*z-index:99;*/
}

/***************ishelf end*******************/

/***************Market Shelf Start*******************/

.search_textbox_marketshelf
{
    background:url("../images/marketshelf/textbox.png") no-repeat;
    background-size:100% 100%;
}

.search_dropdown_marketshelf
{
    background:url("../images/marketshelf/combobox.png") no-repeat;
    background-size:100% 100%;
}

.search_dropdown_marketshelf option
{
    background: #fff;
}

.search_button_marketshelf
{
    background:url("../images/marketshelf/search.png") no-repeat;
    background-size:100% 100%;
}

.filter_button_marketshelf
{
    background:url("../images/marketshelf/filter.png") no-repeat;
    background-size:100% 100%;
}

.search_small_button_marketshelf
{
    background:url("../images/marketshelf/search_small.png") no-repeat;
    background-size:100% 100%;
}

.sort_button_marketshelf
{
    background:url("../images/marketshelf/sort.png") no-repeat;
    background-size:100% 100%;
}

.marketshelf_book_rack_container
{
    position:relative;
    float:left;
    width:92%;
    margin:5.8% 0 0 4%;	
    z-index:0;
}



.marketshelf_books_container
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;	

}

.block1_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;

}

.block1_img_container
{
    position:relative;
    float:left;
    width:95%;
    margin:2.4% 0% 0 10%;
    padding:0 0 3.5% 0;	
}

.block1_book1_img
{
    position:relative;
    float:left;
    width:16%;	
    margin:0% 3% 0 0;
}

.block1_book1_label_container
{
    position:absolute;
    bottom:2%;

    width:23%;
    margin:0 0 0% 33%;	
}

.block1_book1_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.block1_book1_category_container
{
    position:absolute;
    bottom:18%;
    width:100%;	

}

.block1_book1_category_label
{
    position:relative;
    float:left;
    width:100%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.block1_book1_category_label a:link {text-decoration:none; color:#fff;}
.block1_book1_category_label a:visited {text-decoration:none; color:#fff;}

.block1_book1_category_label a:hover {text-decoration:none; color:#ffe972;}

.block1_book1_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.block1_book1_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.block1_book1_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.block1_book1_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}


.block2_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;
    margin:0 0 0 2%;

}

.block3_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;
    margin:0 0 0 0%;

}

.block3_img_container
{
    position:relative;
    float:left;
    width:95%;
    margin:-2% 0% 0 13%;
    padding:0 0 3.5% 0;	
}

.block3_book1_img
{
    position:relative;
    float:left;
    width:15%;	
    margin:0% 3% 0 0;
}

.block3_book1_label_container
{
    position:absolute;
    bottom:2%;

    width:23%;
    margin:0 0 0% 30%;	
}


.block4_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;
    margin:0 0 0 2%;

}

/*** Body Content ***/

/*** Clouds ***/
/*.clouds					{ width:100%; height:262px; overflow:hidden; }
#clouds-small			{ width:3000px; height:100%; background:url("../images/bg-clouds-small.png") repeat-x;}
#cloud2					{ position:relative; top:-262px; }
#clouds-big				{ width:4000px; height:100%; background:url("../images/bg-clouds-big.png") repeat-x;}


#header {position:absolute; list-style:none; width:98%; top:0%; right:-5%; z-index:999; display:inline; font-size:16px; }

#menu li			{ float:left; padding:0 2% 0 0; list-style:none; }*/



/*.marketshelf_book_rack_img{width:103.3%; height:734px; overflow:hidden;}
#rack_img {width:200%; height:100%; background:url("../images/marketshelf/rearrack.jpg) repeat-x;}*/


#btn_menu {position:absolute; list-style:none; width:98%; top:43%; z-index:999;}

#wrapper	{ width:100%;  position:absolute; top:50%; left:0%; overflow:hidden; }

#mask		{ width:200%;}
#mask li {list-style:none;}


.box		{ width:25%;  float:left;}

.content	{ width:100%; top:50%; margin: 0 auto; position:relative; background:none; border-radius:35px; -moz-border-radius:35px; -webkit-border-radius:35px; }

.inner		{ width:100%; background:none; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; position:relative; }


#wrapper_mywall	{ width:100%;  position:absolute; top:12%; left:0%; overflow:hidden; }

#mask_mywall		{ width:200%;}
#mask_mywall li {list-style:none;}
.box_mywall		{ width:42%;  float:left;}


.block5_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;
    margin:0 0 0 2%;

}

.frontrack_img
{
    width:110%;	
}

.block6_container_marketshelf
{
    position:relative;
    float:left;
    width:48%;
    margin:0 0 0 2%;

}

.frontrack_container
{
    position:absolute;
    bottom:8%;
    left:15%;
    width:63%;	

}

.frontrack_block1_container
{
    position:relative;
    float:left;
    width:100%;
    margin:0% 0 0.5% 0;
    padding:0 0 3% 0;
}

.frontrack_block1_img
{
    position:relative;
    float:left;
    width:20%;	
}

.frontrack_block1_book1_label_container
{
    position:absolute;
    bottom:0%;

    width:30%;
    margin:0 0 0% 33%;	
    z-index:999;
}

.frontrack_block1_book1_label_img
{
    position:relative;
    float:left;
    width:100%;	
}

.frontrack_block1_book1_category_container
{
    position:absolute;
    bottom:18%;
    width:100%;	

}

.frontrack_block1_book1_category_label
{
    position:relative;
    float:left;
    width:100%;
    margin:0 0 0 0%;
    font-family:'ar_cenaregular';
    font-size:20px;
    color:#FFF;
    text-align:center;
}

.frontrack_block1_book1_category_label a:link {text-decoration:none; color:#fff;}
.frontrack_block1_book1_category_label a:visited {text-decoration:none; color:#fff;}

.frontrack_block1_book1_category_label a:hover {text-decoration:none; color:#ffe972;}

.frontrack_block1_book1_category_pre
{
    position:relative;
    float:left;
    width:10%;
    margin:2% 0 0 5%;
    background:url("../images/my-20corner-20slices/btn prev lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.frontrack_block1_book1_category_next
{
    position:relative;
    float:right;
    width:10%;
    margin:2% 4.5% 0 0;
    background:url("../images/my-20corner-20slices/btn next lable.png") no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;	
}

.frontrack_block1_book1_category_next:hover {background:url("../images/my-20corner-20slices/btn next lable hover.png") no-repeat; background-size:100% 100%;}
.frontrack_block1_book1_category_pre:hover {background:url("../images/my-20corner-20slices/btn prev lable hover.png") no-repeat; background-size:100% 100%;}





.frontrack_block2_container
{
    position:relative;
    float:left;
    width:100%;
    margin:0% 0 0% 0;	
    padding:0 0 4% 0;
}



#rearblock1 {display:none;}
#rearblock2 {display:none;}
#rearblock3 {display:none;}
#rearblock4 {display:none;}

#frontblock1 {display:none;}
#frontblock2 {display:none;}
#frontblock3 {display:none;}
#frontblock4 {display:none;}
#frontblock5 {display:none;}
#frontblock6 {display:none;}
#frontblock7 {display:none;}
#frontblock8 {display:none;}


/***************Market Shelf end*******************/

/***************My Wall end*******************/

.mywall_book_rack_container
{
    position:relative;
    /*top:5%;*/
    /*left:5%;*/
    float:left;
    width:77%;
    /*min-height:100px;*/
    margin:0% 0 0 4%;	

}

.profile_block
{
    position:relative;
    float:left;
    width:42%;
    margin:0 7% 1% 0;
    opacity:0;

}

.profile_block_right
{
    position:relative;
    float:left;
    width:42%;
    margin:0 1% 1% 0%;
    opacity:0;
}

.profile_block_fair
{
    position:relative;
    float:left;
    width:42%;
    margin:0 1% 1% 0%;
    opacity:0;
}

.bookfair_img
{
    position:absolute;
    top:7%;
    left:2%;
    width:95%;	
}

.bookfair_text
{
    position:absolute;
    top:32%;
    left:22%;
    width:49%;
    font-family:'segoe_uiregular';
    font-size:22px;
    color:#FFF;
    background:#2f2b2b;
    padding:1% 0 1% 4%;
}

.mywall_block1_container
{
    position:absolute;
    top:0;
    left:0;
    width:100%;	
}

.mywall_block1_profile_img
{
    position:relative;
    float:left;
    width:17%;
    margin:4% 0 0 4%;	
}

.mywall_block1_text_container
{
    position:relative;
    float:left;
    width:75%;	
}

.mywall_block1_title_container
{
    position:relative;
    float:left;
    width:95%;	
    border-bottom:2px solid #546c6d;
    margin:4% 0 0 2%;
}

.mywall_block1_title_left
{
    position:relative;
    float:left;
    font-family:'segoe_uiregular';
    font-size:26px;
    color:#FFF;	
}

.mywall_block1_title_right
{
    position:relative;
    float:right;
    margin:2% 0 0 0;
    font-family:'segoe_uiregular';
    font-size:16px;
    color:#ffe788;	
}

.mywall_block1_para
{
    position:relative;
    float:left;
    width:90%;
    margin:1% 0 0 2%;
    font-family:'segoe_uiregular';
    font-size:16px;
    line-height:110%;
    color:#FFF;	
}

.mywall_block1_reply_container
{
    position:absolute;
    bottom:0;
    right:0;
    width:14%;	
    margin:0% 0 0 0;
}

.mywall_block1_reply_text
{
    position:relative;
    float:left;
    width:52%;
    font-family:'segoe_uiregular';
    font-size:18px;
    /*color:#59a188;*/
    color:#fff;
    display:none;
}

.mywall_block1_reply_img
{
    position:absolute;
    right:13%;
    bottom:0;
    width:30%;	
    /*margin:5% 0 0 3%;*/
    cursor:pointer;
}

.mywall_block2_container
{
    position:absolute;
    top:0;
    left:0;
    width:100%;	
}

.mywall_block2_profile_img
{
    position:relative;
    float:left;
    width:15%;
    margin:3% 0 0 4%;	
}

.mywall_block2_bookmark_img
{
    position:absolute;
    top:0;
    right:8%;
    width:25%;	
    cursor:pointer;
}

.mywall_block2_text_container
{
    position:relative;
    float:left;
    width:35%;
    margin:2% 0 0 4%;
}

.mywall_block2_title
{
    position:relative;
    float:left;
    width:100%;
    font-family:'segoe_uiregular';
    font-size:26px;
    font-weight:500;
    color:#FFF;
}

.mywall_block2_title_detail
{
    position:relative;
    float:left;
    width:100%;
    font-family:'segoe_uiregular';
    font-size:16px;
    font-weight:500;
    color:#ffe788;
}

.mywall_block2_button
{
    position:relative;
    float:left;
    width:45%;
    margin:10% 0 0 0;
    cursor:pointer;	
}

.mywall_block5_container
{
    position:absolute;
    top:0;
    left:0;
    width:100%;	
}

.mywall_block5_container_left
{
    position:relative;
    float:left;
    width:48%;	
}

.mywall_block5_profile_img
{
    position:relative;
    float:left;
    width:31%;
    margin:6% 0 0 8%;	
}

.mywall_block5_text_container
{
    position:relative;
    float:left;
    width:55%;
    margin:5% 0 0 4%;
}

.mywall_block5_title
{
    position:relative;
    float:left;
    width:130%;
    font-family:'segoe_uiregular';
    font-size:18px;
    font-weight:500;
    color:#FFF;
}

.mywall_block5_title_detail
{
    position:relative;
    float:left;
    width:100%;
    font-family:'segoe_uiregular';
    font-size:14px;
    font-weight:500;
    color:#ffe788;
}

.mywall_block5_button
{
    position:relative;
    float:left;
    width:60%;
    margin:34% 0 0 0;
    cursor:pointer;
}

.mywall_block5_container_right
{
    position:relative;
    float:right;
    width:48%;	
}

.mywall_block5_text_container_right
{
    position:relative;
    float:right;
    width:55%;
    margin:5% 25% 0 4%;
}

.mywall_block5_button_right
{
    position:relative;
    float:left;
    width:85%;
    margin:20% 0 0 0;
    cursor:pointer;
}

/*#wallblock1 {display:none;}
#wallblock2 {display:none;}
#wallblock3 {display:none;}
#wallblock4 {display:none;}
#wallblock5 {display:none;}
#wallblock6 {display:none;}
#wallblock7 {display:none;}
#wallblock8 {display:none;}*/

.right_block
{
    position:fixed;
    right:0;
    top:0;
    width:15%;
    height:100%;
    /*background:#000;
    opacity:0.4;*/

}

.store_font_color_mywall
{
    color:#000;
    bottom:14.5%;
}

.table
{
    position:absolute;
    top:70%;
    left:80.5%;
    width:20%;	
}

.book
{
    position:absolute;
    top:70%;
    left:84%;
    width:6%;	
}

.lamp
{
    position:absolute;
    top:41%;
    left:89%;
    width:8%;	
}

.tree
{
    position:absolute;
    top:17%;
    left:50%;	
    width:30%;
    z-index:-1;
}

/***************My Wall end*******************/
