@charset "utf-8";
/* CSS Document */

/*1600*/
@media only screen and (min-width : 1600px) and (max-width : 1919px)
{
    .shelf3_img {margin:3.7% 0 0 0;}		
    .book_category_label {font-size:18px;}
    .rack {top:21%;}
    .arrow_color_text {font-size:23px;}
    body {font: 10px Arial, Helvetica, sans-serif;}
    .shelf_books_container {
        margin-top: 43px;
    }

    .dock-item2 img {border: none; width: 60%; margin:0 0 0 0%;}
    .store_menu_container {left:43%; bottom:11.5%;}
    /*my corner end*/
    /*Ishelf Start*/
    .book1_col1_category_label {font-size:18px;}
    .book2_col1_category_label {font-size:18px;}
    .book1_col2_category_label {font-size:18px;}
    .book3_col2_category_label {font-size:18px;}
    .book5_col2_category_label {font-size:18px;}
    .book7_col2_category_label {font-size:18px;}
    .book8_col2_category_label {font-size:18px;}
    .book10_col2_category_label {font-size:18px;}
    .book1_col3_category_label {font-size:18px;}
    .book3_col3_category_label {font-size:18px;}
    .book5_col3_category_label {font-size:18px;}
    .store_menu_container {bottom:12.5%;}
    .sofa_img {width:23%; left:78%; top:76%;}

    /*market shelf*/
    .marketshelf_book_rack_container {margin:5% 0 0 4%;}
    .next_button_img {right:1.5%;}

    /*MyWall*/
    .bookfair_text {left:22%; width:54%; font-size:20px;}

    .mywall_block1_reply_container {width:15%;}
    .mywall_block5_title {width:140%; font-size:16px;}
    .mywall_block5_title_detail {font-size:13px;}

    .mywall_block5_button {margin:30% 0 0 0;}
    .mywall_block5_button_right {margin:15% 0 0 0;}

    .profile_block {width:41%;}
    .profile_block_right {width:41%;}
    .profile_block_fair {width:41%;}

    .table {top:71%; left:81%;}

    .store_font_color_mywall {bottom:14.5%;}

    .mywall_block1_title_left {font-size:24px;}
    .mywall_block1_title_right {font-size:16px;}
    .mywall_block1_para {font-size:14px;}
    .mywall_block1_reply_text {font-size:16px;}
    .mywall_block2_title {font-size:24px;}
    .mywall_block2_title_detail {font-size:14px;}



}
/*1600*/

/*1366*/
@media only screen and (min-width : 1366px) and (max-width : 1599px)
{
    .search_textbox {font-size:20px;}
    .search_dropdown {font-size:20px;}
    //.shelf_books_container {top:23%;}
    .shelf3_img {margin:2% 0 0 0;}
    .shelf3_block1_img {width:83px;}

    .shelf3_block4_container, .shelf3_block5_container, .shelf3_block6_container {margin:0% 0 0 0;}
    .shelf3_block7_container, .shelf3_block8_container, .shelf3_block9_container {margin:0 0 0 0;}
    .book_category_label {font-size:16px;}
    .rack {top:19%;}
    .arrow_color_text {font-size:20px;}
    body {font: 8px Arial, Helvetica, sans-serif;}
    .dock-item2 span {display: none;margin:0 0 0 7%; font-family:'ar_cenaregular'; font-size:30px; font-weight:100; text-shadow: #000; color: #FFF;}
    .dock-item2 img {border: none; width: 70%; margin:0 0 0 0%;}
    .store_menu_container {left:42%; bottom:11%;}	
    /*my corner end*/
    /*Ishelf Start*/
    .book1_col1_label_container {width:54%;}
    .book2_col1_label_container {width:54%;}
    .book1_col2_label_container {width:43%;}
    .book3_col2_label_container {width:38%;}
    .book8_col2_label_container {width:41%;}
    .book5_col2_label_container {width:37%;}
    .book7_col2_label_container {width:38%;}
    .book10_col2_label_container {width:39%;}

    .book1_col1_category_label {font-size:17px;}
    .book2_col1_category_label {font-size:17px;}
    .book1_col2_category_label {font-size:17px;}
    .book3_col2_category_label {font-size:17px;}
    .book5_col2_category_label {font-size:17px;}
    .book7_col2_category_label {font-size:17px;}
    .book8_col2_category_label {font-size:17px;}
    .book10_col2_category_label {font-size:17px;}
    .book1_col3_category_label {font-size:17px;}
    .book3_col3_category_label {font-size:17px;}
    .book5_col3_category_label {font-size:17px;}

    .store_menu_container {bottom:12.5%;}
    .sofa_img {width:22%; left:79%; top:77%;}

    /*market shelf*/
    .marketshelf_book_rack_container {margin:4% 0 0 4%;}
    #wrapper {top:47%;}
    .frontrack_block1_book1_category_label {font-size:18px;}
    .block1_book1_category_label {font-size:18px;}
    .next_button_img {right:2%;}

    /*MyWall*/
    .bookfair_text {left:22%; width:51%; font-size:16px;}
    .mywall_block1_reply_container {width:15%;}
    .mywall_block1_reply_text {font-size:14px;}
    .mywall_block1_reply_img {width:28%; margin:10% 0 0 3%;}

    .mywall_block2_button {width:50%;}
    .mywall_block5_button {width:63%;}
    .mywall_block5_button_right {width:89%;}

    .mywall_block1_title_left {font-size:20px;}
    .mywall_block1_title_right {font-size:14px;}
    .mywall_block1_para {font-size:12px;}

    .mywall_block2_title {font-size:18px;}
    .mywall_block2_title_detail {font-size:12px;}

    .mywall_block5_title {width:149%; font-size:14px;}
    .mywall_block5_title_detail {font-size:12px;}

    .mywall_block5_button {margin:27% 0 0 0;}
    .mywall_block5_button_right {margin:10% 0 0 0;}


    .profile_block {width:40%;}
    .profile_block_right {width:40%;}
    .profile_block_fair {width:40%;}

    .table {top:70%; left:81%;}
    .store_font_color_mywall {bottom:13.5%;}


}
/*1366*/

/*1280*/
@media only screen and (min-width : 1280px) and (max-width : 1365px)
{
    .search_textbox {font-size:20px;}
    .search_dropdown {font-size:20px;}
    .shelf_books_container {
    //    top:55%;
    }
    .shelf3_img {margin:1% 0 0 0;}
    .shelf3_block1_img {
        width: 83px;
        margin-left: 13px;
        margin-bottom: 45px !important;
    }
    .shelf3_container {
        //margin:3% 0 0 2%;
        padding-top: 23px;
    }
    .shelf3_block4_container, .shelf3_block5_container, .shelf3_block6_container {
        margin:1% 0 0 0;
    }
    .shelf3_block7_container, .shelf3_block8_container, .shelf3_block9_container {margin:1% 0 0 0;}
    .book_category_label {font-size:16px;}
    .book_category_container {bottom:20%;}
    .rack {top:27%;}
    .arrow_color_text {font-size:18px;}
    body {font: 8px Arial, Helvetica, sans-serif;}
    .dock-item2 span {display: none;margin:0 0 0 5%; font-family:'ar_cenaregular'; font-size:23px; font-weight:100; color:#fff;}
    .dock-item2 img {border: none; width: 70%; margin:0 0 0 0%;}
    .store_menu_container {left:42%; bottom:11%;}
    /*my corner end*/
    /*Ishelf Start*/

    .middle_book_rack_container {width:93%; margin:1% 0 0 4%;}


    .book1_col1_label_container {width:54%;}
    .book2_col1_label_container {width:54%;}
    .book1_col2_label_container {width:43%;}
    .book3_col2_label_container {width:38%;}
    .book8_col2_label_container {width:41%;}
    .book5_col2_label_container {width:37%;}
    .book7_col2_label_container {width:38%;}
    .book10_col2_label_container {width:39%;}

    .book1_col1_category_container {bottom:18%;}
    .book2_col1_category_container {bottom:18%;}
    .book1_col2_category_container {bottom:18%;}
    .book3_col2_category_container {bottom:14%;}
    .book8_col2_category_container {bottom:15%;}
    .book5_col2_category_container {bottom:14%;}
    .book7_col2_category_container {bottom:16%;}
    .book10_col2_category_container {bottom:18%;}
    .book1_col3_category_container {bottom:19%;}
    .book3_col3_category_container {bottom:17%;}
    .book5_col3_category_container {bottom:18%;}

    .book1_col1_category_label {width:68%; font-size:16px;}
    .book2_col1_category_label {width:68%; font-size:16px;}
    .book1_col2_category_label {width:68%; font-size:16px;}
    .book3_col2_category_label {width:68%; font-size:16px;}
    .book5_col2_category_label {width:68%; font-size:16px;}
    .book7_col2_category_label {width:68%; font-size:16px;}
    .book8_col2_category_label {width:68%; font-size:16px;}
    .book10_col2_category_label {width:68%; font-size:16px;}
    .book1_col3_category_label {width:68%; font-size:16px;}
    .book3_col3_category_label {width:68%; font-size:16px;}
    .book5_col3_category_label {width:68%; font-size:16px;}

    .store_menu_container {bottom:12.5%;}
    .sofa_img {width:27%; left:74%; top:74%;}

    /*market shelf*/

    .marketshelf_book_rack_container {margin:9% 0 0 4%;}

    .frontrack_block1_book1_category_label {font-size:16px;}
    .block1_book1_category_label {font-size:16px;}
    .next_button_img {right:2%;}

    /*MyWall*/
    .mywall_book_rack_container {width:75%; margin:0% 0 0 4%;}

    .bookfair_text {left:22%; width:48%; font-size:14px;}
    .mywall_block1_reply_container {width:16%;}
    .mywall_block1_reply_text {font-size:14px;}
    .mywall_block1_reply_img {width:28%; margin:10% 0 0 3%;}

    .mywall_block2_button {width:50%;}
    .mywall_block5_button {width:65%;}

    .mywall_block1_title_left {font-size:18px;}
    .mywall_block1_title_right {font-size:12px;}
    .mywall_block1_para {font-size:12px;}

    .mywall_block2_title {font-size:18px;}
    .mywall_block2_title_detail {font-size:11px;}

    .mywall_block5_title {width:158%; font-size:14px;}
    .mywall_block5_title_detail {font-size:12px;}

    .mywall_block5_button {margin:27% 0 0 0;}
    .mywall_block5_button_right {margin:10% 0 0 0; width:87%;}


    .profile_block {width:42%;}
    .profile_block_right {width:42%;}
    .profile_block_fair {width:42%;}

    .table {top:72%; left:81%;}	
    .store_font_color_mywall {bottom:14%;}
}
/*1280*/

/*1152*/
@media only screen and (min-width : 1152px) and (max-width : 1279px)
{
    .search_textbox {font-size:14px;}
    .search_dropdown {font-size:14px;}
    .shelf_books_container {top:6%;}
    .shelf3_img {margin:1% 0 0 0;}
    .shelf3_block1_img {width:30%;}
    .shelf3_container {margin:2.5% 0 0 2%;}
    .shelf3_block1_container, .shelf3_block2_container, .shelf3_block3_container {margin:3% 0 0 0;}
    .shelf3_block4_container, .shelf3_block5_container, .shelf3_block6_container {margin:0% 0 0 0;}
    .shelf3_block7_container, .shelf3_block8_container, .shelf3_block9_container {margin:-0.5% 0 0 0;}
    .booklabel_container {width:65%; margin:0 0 0 13%;}
    .book_category_label {font-size:18px;}
    .book_category_container {bottom:20%;}
    .rack {top:24%; left:-7.5%; width:20%;}
    .arrow_color_text {font-size:16px;}
    body {font: 8px Arial, Helvetica, sans-serif;}

    .dock-item2 img {border: none; width: 70%; margin:0 0 0 0%;}	
    .store_menu_container {left:42%; bottom:11.5%;}

    .search_textbox {background-size:100% 85%; padding:0 0 1% 1%;}
    .search_dropdown {background-size:100% 100%; padding:0 0 1% 1%;}
    .search_button {background-size:100% 90%;}
    .filter_button {background-size:100% 90%;}
    .search_small_button {background-size:100% 90%;}
    .sort_button {background-size:100% 90%;}

    .search_shelf_books_container {padding:0;}

    .search_dropdown option{background:#fff; margin:0; padding:0;}


    /*my corner end*/
    /*Ishelf Start*/

    .search_textbox_ishelf {background-size:100% 85%; padding:0 0 1% 1%;}
    .search_dropdown_ishelf {background-size:100% 100%; padding:0 0 1% 1%;}

    .middle_book_rack_container {width:93%; margin:2% 0 0 4%;}

    .book1_col1_label_container {width:60%; margin:0 0 2% 30%;}
    .book2_col1_label_container {width:65%; margin:0 0 2% 6%;}
    .book1_col2_label_container {width:50%; margin:5% 0 0 30%;}
    .book3_col2_label_container {width:44%; margin:5% 0 0 30%;}
    .book8_col2_label_container {width:47%;  margin:0 0 1% 35%;}
    .book5_col2_label_container {width:43%; margin:0 6% 0 0;}
    .book7_col2_label_container {width:44%; margin:0 10% 1% 0;}
    .book10_col2_label_container {width:50%; margin:0 0 3% 14%;}
    .book1_col3_label_container {width:75%; margin:0 0 0 4%;}
    .book3_col3_label_container {width:60%; margin:0 0 1% 17%;}
    .book5_col3_label_container {eidth:60%;}

    .book1_col1_category_container {bottom:15%;}
    .book2_col1_category_container {bottom:12%;}
    .book1_col2_category_container {bottom:15%;}
    .book3_col2_category_container {bottom:13%;}
    .book8_col2_category_container {bottom:15%;}
    .book5_col2_category_container {bottom:13%;}
    .book7_col2_category_container {bottom:15%;}
    .book10_col2_category_container {bottom:15%;}
    .book1_col3_category_container {bottom:15%;}
    .book3_col3_category_container {bottom:15%;}
    .book5_col3_category_container {bottom:12%;}


    .book1_col1_category_label {width:65%; font-size:18px;}
    .book2_col1_category_label {width:65%; font-size:18px;}
    .book1_col2_category_label {width:65%; font-size:18px;}
    .book3_col2_category_label {width:65%; font-size:18px;}
    .book5_col2_category_label {width:65%; font-size:18px;}
    .book7_col2_category_label {width:65%; font-size:18px;}
    .book8_col2_category_label {width:65%; font-size:18px;}
    .book10_col2_category_label {width:67%; font-size:18px;}
    .book1_col3_category_label {width:70%; font-size:18px;}
    .book3_col3_category_label {width:65%; font-size:18px;}
    .book5_col3_category_label {width:65%; font-size:18px;}

    .store_menu_container {bottom:11.3%;}
    .sofa_img {width:27%; left:74%; top:76%;}

    /*market shelf*/
    .marketshelf_book_rack_container {margin:9% 0 0 4%;}

    .frontrack_block1_book1_category_label {font-size:14px;}
    .block1_book1_category_label {font-size:14px;}
    .next_button_img {right:2%;}

    /*MyWall*/
    .mywall_book_rack_container {width:85%; margin:0% 0 0 3%;}

    .bookfair_text {left:22%; width:51%; font-size:16px;}
    .mywall_block1_reply_container {width:18%;}
    .mywall_block1_reply_text {font-size:16px;}
    .mywall_block1_reply_img {width:28%; margin:15% 0 0 12%;}

    .mywall_block1_title_left {font-size:18px;}
    .mywall_block1_title_right {font-size:12px;}
    .mywall_block1_para {font-size:12px;}

    .mywall_block2_title {font-size:18px;}
    .mywall_block2_title_detail {font-size:12px;}

    .mywall_block5_text_container {margin:3% 0 0 4%;}
    .mywall_block5_text_container_right {margin:3% 20% 0 4%;}

    .mywall_block5_title {width:142%; font-size:13px;}
    .mywall_block5_title_detail {font-size:12px;}

    .mywall_block5_container_right {width:52%;}


    .profile_block {width:43%;}
    .profile_block_right {width:43%;}
    .profile_block_fair {width:43%;}

    .table {top:75%; left:81%;}	
    .book {top:75%;}	
    .lamp {top:55%;}	

    .mywall_block2_button {width:56%;}
    .mywall_block5_button {width:70%; margin:20% 0 0 0;}
    .mywall_block5_button_right {width:110%; margin:5% 0 0 0;}

    .store_font_color_mywall {bottom:14.5%;}

    #wrapper_mywall {top:8.5%;}
}
/*1152*/

/*1024*/
@media only screen and (min-width : 1024px) and (max-width : 1151px)
{
    .search_textbox {font-size:20px;}
    .search_dropdown {font-size:20px;}
    .shelf_books_container {top:10%;}
    .shelf3_img {margin:0% 0 0 0;}
    .shelf3_block1_img {width:30%;}
    .shelf3_container {margin:5% 0 0 2%;}
    .shelf3_block1_container, .shelf3_block2_container, .shelf3_block3_container {margin:3% 0 0 0;}
    .shelf3_block4_container, .shelf3_block5_container, .shelf3_block6_container {margin:2% 0 0 0;}
    .shelf3_block7_container, .shelf3_block8_container, .shelf3_block9_container {margin:3% 0 0 0;}
    .book_category_label {font-size:13px;}
    .book_category_container {bottom:12%;}
    .rack {top:27%; width:23%;}
    .arrow_color_text {font-size:14px;}
    body {font: 8px Arial, Helvetica, sans-serif;}

    .dock-item2 img {border: none; width: 70%; margin:0 0 0 0%;}
    .store_menu_container {left:41%; bottom:11%;}	
    /*my corner end*/
    /*Ishelf Start*/

    .middle_book_rack_container {width:95%; margin:4% 0 0 2%;}

    .book1_col1_label_container {width:57%;}
    .book2_col1_label_container {width:61%;}
    .book1_col2_label_container {width:49%; margin:5% 0 0 33%;}
    .book3_col2_label_container {width:42%;}
    .book8_col2_label_container {width:46%; margin:0 0 1% 43%;}
    .book5_col2_label_container {width:40%; margin:0 7% 2% 0;}
    .book7_col2_label_container {width:41%; margin:0 13% 1% 0;}
    .book10_col2_label_container {width:43%; margin:0 0 3% 26%;}
    .book1_col3_label_container {width:70%;}
    .book3_col3_label_container {width:60%;}
    .book5_col3_label_container {width:60%;}

    .book1_col1_category_container {bottom:10%;}
    .book2_col1_category_container {bottom:10%;}
    .book1_col2_category_container {bottom:10%;}
    .book3_col2_category_container {bottom:8%;}
    .book8_col2_category_container {bottom:10%;}
    .book5_col2_category_container {bottom:8%;}
    .book7_col2_category_container {bottom:10%;}
    .book10_col2_category_container {bottom:10%;}
    .book1_col3_category_container {bottom:10%;}
    .book3_col3_category_container {bottom:10%;}
    .book5_col3_category_container {bottom:10%;}

    .book1_col1_category_label {width:65%; font-size:14px;}
    .book2_col1_category_label {width:65%; font-size:14px;}
    .book1_col2_category_label {width:65%; font-size:14px;}
    .book3_col2_category_label {width:65%; font-size:14px;}
    .book5_col2_category_label {width:65%; font-size:14px;}
    .book7_col2_category_label {width:65%; font-size:14px;}
    .book8_col2_category_label {width:65%; font-size:14px;}
    .book10_col2_category_label {width:67%; font-size:14px;}
    .book1_col3_category_label {width:70%; font-size:14px;}
    .book3_col3_category_label {width:65%; font-size:14px;}
    .book5_col3_category_label {width:65%; font-size:14px;}

    .store_menu_container {bottom:12.5%;}
    .sofa_img {width:30%; left:72%; top:72%;}	

    /*market shelf*/
    .marketshelf_book_rack_container {margin:0% 0 0 0%;}
    #wrapper_mywall {top:5%;}
    .frontrack_block1_book1_category_label {font-size:14px;}
    .block1_book1_category_label {font-size:14px;}
    .next_button_img {right:2%;}

    /*MyWall*/

    .bookfair_text {left:22%; width:48%; font-size:13px;}
    .mywall_block1_reply_container {width:15%;}
    .mywall_block1_reply_text {font-size:12px;}
    .mywall_block1_reply_img {width:28%; margin:10% 0 0 3%;}

    .mywall_block1_title_left {font-size:18px;}
    .mywall_block1_title_right {font-size:11px;}
    .mywall_block1_para {font-size:11px;}

    .mywall_block2_title {font-size:18px;}
    .mywall_block2_title_detail {font-size:11px;}

    .mywall_block5_title {width:151%; font-size:13px;}
    .mywall_block5_title_detail {font-size:11px;}

    .mywall_block5_button {margin:27% 0 0 0; width:64%;}
    .mywall_block5_button_right {margin:10% 0 0 0; width:95%;}

    .mywall_block2_button {width:50%;}


    .mywall_book_rack_container {width:90%; margin:6% 0 0 3%;}
    .profile_block {width:42%;}
    .profile_block_right {width:42%;}
    .profile_block_fair {width:42%;}

    .table {top:75%; left:81%;}	
    .book {top:75%;}	
    .lamp {top:53%;}

    .store_font_color_mywall {bottom:14%;}

}
/*1024*/
.home_btn {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.home_btn img {
    width: 60px;
    height: 50px;
}