body {
    font: 11px Arial, Helvetica, sans-serif;
    background: #ffffff url(images/main-bg.gif);
    padding: 0;
    margin: 0;
}
img {
    border: none;
}

/* dock - top */
.dock {
    position: relative; 
    height: 50px; 
    text-align: center;
}
.dock-container {
    position: absolute;
    height: 50px;
    background: url(images/dock-bg2.gif);
    padding-left: 20px;
}
a.dock-item {
    display: block;
    width: 40px;
    color: #000;
    position: absolute;
    top: 0px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
    border: none; 
    margin: 5px 10px 0px; 
    width: 100%; 
}
.dock-item span {
    display: none; 
    padding-left: 20px;
}

/* dock2 - bottom */
#dock1 {
    width: 35%;
    bottom: 0%;
    position: absolute;
    left: 32%;
    /*display:none;*/
}

#dock2 {
    width: 43%;
    bottom: 0%;
    position: absolute;
    left: 30%;
    /*display:none;*/
}

.dock-container2 {
    /*position: absolute;*/
    left:20% !important;
    width:100% !important;
    height: 100%;
    background: url(../images/my-20corner-20slices/dock1/back_extra.png) no-repeat;
    background-size:100% 100%;
    /*padding-left: 20px;*/
}

.dock-container1 {
    /*position: absolute;*/
    left:20% !important;
    width:100% !important;
    height: 100%;
    background: url(../images/my-20corner-20slices/dock2/back2.png) no-repeat;
    background-size:100% 100%;
    /*padding-left: 20px;*/
}

a.dock-item2 {
    display: block; 
    font: bold 12px Helvetica, sans-serif;
    width: 40px; 
    color: #900; 
    bottom: 0px; 
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index:99999;
}

.dock-item2 img {
    border: none; 

    width: 70%; 
    margin:0 0 0 70%;
}

.dock-item1 img {
    border: none; 

    width: 70%; 
    margin:0 15% 0 85%;
}
.s-select {
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    margin-bottom: 5px;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-wrapper {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 730px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.s-btn {
    width: 114px;
    height: 44px;
    border: none;
    background: url('../images/my-20corner-20slices/btn search.png') no-repeat;
}
.s-left {
    margin-right: 10px;
}

h4#results-text {
    display: none;
    margin: 10px 0 0 352px;
    clear: both;
    font-size: 12px;
}
#search-string {
   color: #f15d58; 
}
ul#results {
    display: none;
    width: 397px;
    margin-top: 4px;
    border: 1px solid #ababab;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
    position: absolute;
    list-style: none;
    margin: 10px 0 0 314px;
    background: rgba(255,255,255,0.9);
    z-index: 999;
    padding: 0px;
    max-height: 400px;
    overflow: auto !important;
}
ul#results li {
    padding: 8px 15px;
    cursor: pointer;
    border-top: 1px solid #cdcdcd;
    transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
}
ul#results li:hover {
    background-color: #F7F7F7;
}
ul#results li:first-child {
    border-top: none;
}
ul#results li h3, ul#results li h4 {
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    color: #616161;
    line-height: 1.2em;
    padding: 4px 0px;
    margin: 0;
    font-weight: 200;
}
ul#results li:hover h3, ul#results li:hover h4  {
    color: #3b3b3b;
    font-weight: bold;
}
li.result a {
    font-size: 12px;
    text-decoration: none;
}
.highlight {
    color: #f15d58;
}
.shelf3_block1_img > a > img {
    width: 86px;
    height: 110px;
}